<% content_for :title do @list.title end -%>
<% content_for :description do @list.description end -%>

<header id="header-lists-show">
  <%= link_to 'The lists', lists_path %>
</header>

<div class="row" id="lists-show">
  
  <div class="list col-sm-8 col-sm-offset-2">
    <div class="list-intro">
      <h1><%= @list.title %></h1>
      <p><%= @list.description %></p>
    </div>
    <div class="list-items">
      <% @list.list_items.includes(:attribute_items).each do |list_item| %>
        <div class="list-item" id="list-item-<%= list_item.id %>" data-list-item>
          <h2><%= list_item.title %></h2>
          <h3><%= list_item.subtitle %></h3>
          <div data-unfold>more</div>
          <div data-hidden-area>
            <% if list_item.description.present? %>
              <p><%= list_item.description %></p>
            <% end %>
            <% if list_item.attribute_items.present? %>
              <dl class="attribute-items row">
                <% list_item.attribute_items.each do |attribute| %>
                <div class="attribute-item clearfix">
                  <dt class="col-sm-2"><%= attribute.title %></dt>
                  <dd class="col-sm-10"><%== attribute.body %></dd>
                </div>
                <% end %>
              </dl>
            <% end %>
            <div data-fold>less</div>
          </div>
          <% if @list.owned? current_user %>
            <div class="edit-link">
              <%= link_to 'Edit', edit_list_item_path(list_item), class: 'btn btn-link edit' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="list-footer">
      <%= link_to "#{fa_icon('twitter')} Tweet".html_safe, "https://twitter.com/intent/tweet?url=#{list_url(@list)}&text=#{@list.title}&via=moriook", target: :blank, class: 'pull-right share-button' %>
      <div class="updated-at">
        <%=  @list.updated_at.strftime('%b %-d, %Y') %>
        by <%= @list.user.name %>
      </div>
    </div>
  </div>
</div>