<% content_for :title do "Morio Okumura" end -%>

<div id="home-index">
  
  <section id="whoiam">
    <div class="container">
      <div class="myicon">
        <%= image_tag('my_photo.jpg', size: '72x72') %>
      </div>
      <p class="text">
        Hi, I'm Morio Okumura.<br>
        I'm software engineer mostly working with Ruby on Rails.<br>
        You can see my tech stack at <a href="http://stackshare.io/moriokumura" target="new">here</a>.
        Follow me on <a href="https://twitter.com/moriook" target="new">Twitter</a> to get in touch.
      </p>
    </div>
  </section>
  
  <section id="myprojects" class="row">
    <h2>My Projects</h2>
    <div class="project col-sm-6">
      <%= link_to image_tag('fastvoted.png'), "http://fastvoted.com", target: :new %>
      <h3>
        <a href="http://fastvoted.com" target="new">FastVoted</a>
      </h3>
      <p>Get trending social news in your Slack.<br>I'm creator of this service.</p>
    </div>
    <div class="project col-sm-6">
      <%= link_to image_tag('railslink.png'), "http://www.rubyonrails.link", target: :new %>
      <h3>
        <a href="http://www.rubyonrails.link" target="new">Ruby on Rails Link</a>
      </h3>
      <p>Global Ruby on Rails community on Slack.<br>I'm one of the organizer of this community.</p>
    </div>
  </section>
  
  <section id="social-links">
    <div class="container">
      <h2>You can see me on</h2>
      <ul class="social-links">
        <li><%= link_to fa_icon('twitter'), 'https://twitter.com/moriook', target: :blank %></li>
        <li><%= link_to fa_icon('facebook-official'), 'https://www.facebook.com/morio.okumura', target: :blank %></li>
        <li><%= link_to fa_icon('linkedin-square'), 'https://www.linkedin.com/in/moriookumura', target: :blank %></li>
        <li><%= link_to fa_icon('medium'), 'https://medium.com/@moriookumura', target: :blank %></li>
        <li><%= link_to fa_icon('instagram'), 'https://instagram.com/moriokumura/', target: :blank %></li>
        <li><%= link_to fa_icon('github'), 'https://github.com/moriokumura', target: :blank %></li>
      </ul>
    </div>
    
  </section>
</div>

<%= render partial: 'shared/footer' %>
