<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    
    <%= form_for @attribute_item, url: @url, html: { class: 'form form-horizontal form-attribute-item' } do |f| %>
      <div class="form-submits col-sm-12 clearfix">
        <%= link_to 'Cancel', :back, class: 'btn btn-link cancel' %>
        <div class="pull-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
      <%= render partial: 'shared/error_messages', locals: { object: @attribute_item } %>
<!--       <div class="form-inputs clearfix">
        <div class="form-group col-sm-3">
          <%= f.text_field :title, class: 'form-control title', placeholder: 'Title' %>
        </div>
        <div class="form-group col-sm-9">
          <%= f.text_area :body, class: 'form-control paragraph', placeholder: 'Write body text' %>
        </div>
      </div> -->
      
      <div class="attribute-item row">
        <div class="col-sm-3">
          <%= f.text_field :title, class: 'form-control attribute-title', placeholder: 'Name' %>
        </div>
        <div class="col-sm-9">
          <%= f.text_area :body, class: 'form-control attribute-body', placeholder: 'Write attribute text' %>
        </div>
      </div>
      
    <% end %>
  </div>
</div>
