<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? "#{yield(:title)} - #{configatron.app_name}" : configatron.app_name %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <% if content_for?(:description) %>
    <meta name="description" content="<%= truncate(yield(:description), length: 155) %>">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <div class="container">
      <div class="links pull-right">
        <%= link_to 'Bio', '#' %>
        <%= link_to 'Lab', '#' %>
      </div>
    </div>
  </header>

  <div class="container">
    <% if notice || alert %>
      <div class="row">
        <div class="well">
          <%= notice %>
          <%= alert %>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <footer>
    <ul class="links">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= mail_to 'morio.okumura@gmail.com', fa_icon('envelope-o') %></li>
      <li><%= link_to fa_icon(:twitter), 'https://twitter.com/moriook', target: :blank %></li>
      <li><%= link_to fa_icon('facebook-official'), 'https://www.facebook.com/morio.okumura', target: :blank %></li>
      <li><%= link_to fa_icon('linkedin-square'), 'http://jp.linkedin.com/in/moriookumura', target: :blank %></li>
    </ul>
    <div class="copyright">
      &copy;<%= Date.today.year %> Morio Okumura
    </div>
  </footer>
</body>
</html>
