<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : configatron.app_name %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <% if content_for?(:description) %>
    <meta name="description" content="<%= truncate(yield(:description), length: 155) %>">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-29590509-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    var _prum = [['id', '54c62411abe53d136ccdccb2'],
                 ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
  </script>
</head>
<body>

  <div class="container">
    <% if notice || alert %>
      <div class="row">
        <div class="well">
          <%= notice %>
          <%= alert %>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <footer>
    <div class="follow-me-button">
      <a href="https://twitter.com/moriook" class="twitter-follow-button" data-show-count="false">Follow @moriook</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <ul class="links">
      <li><%= mail_to 'morio.okumura@gmail.com', fa_icon('envelope-o') %></li>
      <li><%= link_to fa_icon(:twitter), 'https://twitter.com/moriook', target: :blank %></li>
      <li><%= link_to fa_icon('facebook-official'), 'https://www.facebook.com/morio.okumura', target: :blank %></li>
      <li><%= link_to fa_icon('linkedin-square'), 'https://www.linkedin.com/in/moriookumura', target: :blank %></li>
      <li><%= link_to fa_icon(:github), 'https://github.com/moriokumura', target: :blank %></li>
    </ul>
    <div class="copyright">
      &copy;<%= Date.today.year %> Morio Okumura
    </div>
  </footer>
</body>
</html>
